body {
    background-color: #393939
}

.mainBody h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    text-shadow: 0 0 10px #000000, 0 0 15px #000000;
}

.mainBody h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 0px #000000;
}

.mainBody img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #000000;
    border-radius: 25px;
}

.mainBody p {
    font-family:Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    text-shadow: 2px 2px 0px #000000;
}

.mainBody a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #55aeac;
    display: inline-block;
    width: 100px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align:center;
    border: 1px solid;
    border-color: #000000;
    overflow-wrap: break-word;
    text-shadow: 2px 2px 0px #000000;
    transition: .3s ease-in-out;
    opacity: 1;
}

.mainBody a:hover {
    background-color: #122525;
}

.mainBody ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    text-shadow: 2px 2px 0px #000000;
}

.mainBody li {
    background: #55aeac;
    display: inline-block;
    border: 1px solid #000000;
    text-shadow: 2px 2px 0px #000000;
}

.faqBody p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    text-shadow: 2px 2px 0px #000000;
}

.faqBody ul {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
	position: relative; 
	display: inline-block; 
	left: 50%; 
	transform: translateX(-50%); 
    font-size: 20px;
    margin: auto;
    text-shadow: 2px 2px 0px #000000;
}

.aboutMap li {
    display: inline-block;
}

.aboutMap ul {
    text-align: center;
}

.contactBody h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    text-shadow: 0 0 10px #000000, 0 0 15px #000000;
}

.contactBody p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.contactBody a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #55aeac;
    display: inline-block;
    width: 300px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align:center;
    border: 1px solid;
    border-color: #000000;
    overflow-wrap: break-word;
    opacity: 1;
	transition: .3s ease-in-out;
}

.contactBody a:hover {
    background-color: #122525;
}

.contactBody ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.contactBody li {
    background: #55aeac;
    display: inline-block;
    border: 1px solid #000000;
}

.contactPic img {
    display: block;
    margin: auto;
    border: 1px solid;
    border-color: #000000;
    max-width:100%;
    max-height:100%;
}

.topOfPage h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #a0a0a0;
    font-size: 35px;
    text-align: center;
    text-shadow: 0 0 10px #000000, 0 0 15px #000000;
}

.topOfPage img {
    display: block;
    margin: auto;
    max-width:100%;
    max-height:100%;
}

.navbar ul {
    list-style: none;
    background: #55aeac;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 25px;
    font-size: 0;
    max-width: 1000px;

}

.navbar li {
    display: inline-block;
}

.navbar a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    width: 100px;
    display: inline-block;
    padding: 25px 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
	transition: .3s ease-in-out;
    opacity: 1;
    text-shadow: 2px 2px 2px #000000;
}

.navbar a:hover {
    background-color: #122525;
}

.endOfPage p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
}

.endOfPage a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #55aeac;
    color: #FFFFFF;
    width: 320px;
    display: block;
    padding: 15px 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border: 1px solid;
    border-color: #000000;
    opacity: 1;
	transition: .3s ease-in-out;
}

.endOfPage ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    text-align: center;
}

.endOfPage li {
    background: #55aeac;
    display: inline-block;
    border: 2px solid #000000;

}

.endOfPage a:hover {
    background-color: #122525;
}

.fireplaces-container {
    display: flex;
    padding: 10px;
    gap: 10px;
    justify-content: center;
}

.fireplaces:hover .fireplaces-image img {
    filter:saturate(0) blur(2px);
    transform: scale(1.1);
}

.fireplaces {
    position: relative;
    width: 250px;
    height: 350px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: clip;
    border: 1px solid #000000;

}

.fireplaces-image {
    position: relative;
    width: 100%;
    height: 100%;

}

.fireplaces-image img {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 80%;
    transition:all 0.9s ease-in-out;
}

.fireplaces-image .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: left;
}

.fireplaces:hover .info {
    opacity: 1;
}

.info h2 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 0px #000000;
}

.info h3 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 0px #000000;
}

.info li {
    font-size: 16px;
    text-align: left;
    text-shadow: 1px 1px 0px #000000;
}

.info p {
    font-size: 16px;
    text-align: center;
    text-shadow: 1px 1px 0px #000000;
}