body {
    background-color: #393939
}

.mainBody h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    text-shadow: 0 0 10px #000000, 0 0 15px #000000;
}

.mainBody h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.mainBody img {
    max-width: 500px;
    max-height: 500px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    border: 2px;
    border-color: #000000;
    border-radius: 25px;
    border-style:solid;
}

.mainBody p {
    font-family:Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
}

.mainBody a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #55aeac;
    display: inline-block;
    width: 100px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align:center;
    border: 1px solid;
    border-color: #000000;
    overflow-wrap: break-word;
}

.mainBody a:hover{
    background-color: #122525;
}

.mainBody ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.mainBody li{
    background: #55aeac;
    display: inline-block;
    border: 1px;
    border-color: #000000;
}

.faqBody p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
}

.faqBody ul{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
	position: relative; 
	display: inline-block; 
	left: 50%; 
	transform: translateX(-50%); 
    font-size: 20px;
    margin: auto;
}

.popularFireplaces {
    margin-top: 20px;
    margin-bottom: 20px;
}

.popularFireplaces img {
    display: block;
    border: 2px solid;
    border-color: #000000;
    width: 250px; 
    height: 250px; 
    object-fit: cover;
    object-position: 25% 25%; 
    opacity: 1;
	transition: .3s ease-in-out;
    opacity: 50%;
    border-radius: 25px;
}

.popularFireplaces img:hover{
    opacity: 1;
}

.popularFireplaces ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.popularFireplaces li{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    color: #FFFFFF;
    font-size: 18px;
}

.popularFireplacesContent {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.popularFireplacesContent:hover {
opacity: 1;
}

.aboutMap li{
    display: inline-block;
}

.aboutMap ul{
    text-align: center;
}

.contactBody h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    text-shadow: 0 0 10px #000000, 0 0 15px #000000;
}

.contactBody p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.contactBody a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #55aeac;
    display: inline-block;
    width: 300px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align:center;
    border: 1px solid;
    border-color: #000000;
    overflow-wrap: break-word;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    opacity: 100%;
}

.contactBody a:hover{
    background-color: #122525;
    opacity: 100%;
}

.contactBody ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.contactBody li{
    background: #55aeac;
    display: inline-block;
    border: 1px;
    border-color: #000000;
}

.contactPic img{
    display: block;
    margin: auto;
    border: 1px solid;
    border-color: #000000;
    max-width:100%;
    max-height:100%;
}

.topOfPage h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #a0a0a0;
    font-size: 35px;
    text-align: center;
    text-shadow: 0 0 10px #000000, 0 0 15px #000000;
}

.topOfPage img {
    display: block;
    margin: auto;
    max-width:100%;
    max-height:100%;
}

.navbar ul{
    list-style: none;
    background: #55aeac;
    padding: 0;
    margin: 0;
    text-align: center;
    border: 2px;
    border-color: #000000;
    border-radius: 25px;
    border-style:solid;
}

.navbar li{
    display: inline-block;
}

.navbar a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    width: 100px;
    display: inline-block;
    padding: 25px 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
	transition: .3s ease-in-out;
    opacity: 1;
}

.navbar a:hover{
    background-color: #122525;
}

.endOfPage p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
}

.endOfPage a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #55aeac;
    color: #FFFFFF;
    width: 320px;
    display: block;
    padding: 15px 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border: 1px solid;
    border-color: #000000;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    opacity: 100%;
}

.endOfPage ul{
    list-style: none;
    padding: 0;
    margin-top: 10px;
    text-align: center;
}

.endOfPage li{
    background: #55aeac;
    display: inline-block;
    border: 1px;
    border-color: #000000;

}

.endOfPage a:hover{
    background-color: #122525;
    opacity: 100%;
}